html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100%;
}
#searchPanel {
  float: left;
  height: 100%;
  width: 247.375px;
  background-color: black;
}
#searchPanel h3 {
  color: white;
  text-align: center;
}
#hidePaneButton {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
  height: auto;
}
#searchForm {
  margin-right: 0px;
  display: flex;
}
#searchField {
  width: 70%
}
#foursquareImage {
  width: 200px;
  height: 200px;
}
#filterIcon {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 3px;
  width: 30%;
  background-color: #cccccc;
}
#filterIconText {
  margin: 0px;
  padding-left: 6px;
}
#infoWindowTitle {
  text-align: center;
  font-weight: 500;
}
.glyphicon glyphicon-filter {
  margin-left: 1px;
  margin-right: 3px;
}
.topBar {
  background-color: #595959;
  height: 40px;
}
.topBar p {
  margin: 0px;
  border: 0px;
}
.mainContent {
  height: 95.7%;
}
.locationList {
  text-align: left;
  padding-left: 0px;
  margin: 0%;
  list-style-type: none;
}
.locationList li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.locationListItems {
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
}
.locationList li {
  width: 100%;
  padding-left: 8px;
}
